.contactButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: var(--raio-borda);
  text-decoration: none;
  background-color: transparent;
  border: 2px solid var(--cor-principal);
  transition: all 0.3s ease;
}

.title {
  color: var(--cor-principal);
  margin: 0;
  font-weight: 600;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.icon {
  color: var(--cor-principal);
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.contactButton:hover {
  cursor: pointer;
  background-color: var(--cor-principal);
  border-color: var(--cor-principal);
}

.contactButton:hover .title,
.contactButton:hover .icon {
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .contactButton {
    height: 1.5rem;
    padding: 0.5rem 1.5rem;
  }
  .title {
    font-size: 1rem;
  }
  .icon {
    font-size: 1.25rem;
  }
}