.footerContainer {
  background-color: var(--cor-texto-secundario);
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerText {
  color: var(--cor-fundo-elemento);
  font-size: 0.9rem;
  font-weight: 400; 
}